
@{
    ViewBag.Title = "PrenotazioneForm";
}

<h2>PrenotazioneForm</h2>

@using (Html.BeginForm("AddPrenotazione", "Prenotazione", FormMethod.Post, new { @class = "row g-3" }))
{
    <div class="col-md-6">
        <h2>Informazioni Cliente</h2>
        <div class="mb-3">
            <label for="Nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="Nome" name="Nome">
        </div>
        <div class="mb-3">
            <label for="Cognome" class="form-label">Cognome</label>
            <input type="text" class="form-control" id="Cognome" name="Cognome">
        </div>
        <div class="mb-3">
            <label for="Citta" class="form-label">Città</label>
            <input type="text" class="form-control" id="Citta" name="Citta">
        </div>
        <div class="mb-3">
            <label for="Provincia" class="form-label">Provincia</label>
            <input type="text" class="form-control" id="Provincia" name="Provincia">
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" id="Email" name="Email">
        </div>
        <div class="mb-3">
            <label for="Telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="Telefono" name="Telefono">
        </div>
        <div class="mb-3">
            <label for="Cellulare" class="form-label">Cellulare</label>
            <input type="text" class="form-control" id="Cellulare" name="Cellulare">
        </div>
        <div class="mb-3">
            <label for="CF" class="form-label">Codice Fiscale</label>
            <input type="text" class="form-control" id="CF" name="CF">
        </div>
    </div>

    <div class="col-md-6">
        <h2>Dettagli Prenotazione</h2>
        <div class="mb-3">
            <label for="SoggiornoInizio" class="form-label">Soggiorno Inizio</label>
            <input type="date" class="form-control" id="SoggiornoInizio" name="SoggiornoInizio">
        </div>
        <div class="mb-3">
            <label for="SoggiornoFine" class="form-label">Soggiorno Fine</label>
            <input type="date" class="form-control" id="SoggiornoFine" name="SoggiornoFine">
        </div>
        <div class="mb-3">
            <label for="Caparra" class="form-label">Caparra</label>
            <input type="number" class="form-control" id="Caparra" name="Caparra">
        </div>
        <div class="mb-3">
            <label for="tariffa" class="form-label">Tariffa</label>
            <select name="tariffa" id="tariffa" class="form-select">
                <option value="Standard">Tariffa Standard</option>
                <option value="Deluxe">Tariffa Deluxe</option>
                <option value="Suite">Tariffa Suite</option>
                <option value="Premium">Tariffa Premium</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="Dettagli" class="form-label">Dettagli</label>
            <input type="text" class="form-control" id="Dettagli" name="Dettagli">
        </div>
        <div class="mb-3">
            <h2>Seleziona La Camera</h2>
            <select id="IdCamera" name="IdCamera" class="form-select">
                <option value="">Seleziona una camera</option>
                @foreach (var camera in ViewBag.Camere)
                {
                    <option value="@camera.IdCamera">@camera.TipologiaCamera @camera.Descrizione @camera.Prezzo</option>
                }
            </select>
        </div>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Invia</button>
    </div>
}